<!DOCTYPE html>
<body>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <link type="text/css" rel="stylesheet" href="announce.css">
   </head>
   <div class="boxcenter">
      <div class="box3top"></div>
      <div class="box3bg">
         <div class="box3content">
            <div class="pdesc">
               <p>
                  <em>eMush</em> is not Open to the public right now because the game is unfinished and full of <em>Mush !!!</em> 
				  <br/><br/>
				  If you are interested in the project, feel free to join us on Eternal-Twin <a href="https://discord.gg/ERc3svy">discord</a> or <a href="https://eternal-twin.net/forum">Forum</a>. All the informations are on <a href="https://eternal-twin.net">Eternal-Twin</a>.
                  <br/><br/>				  
				  Concerning the Alpha version, it will be launch the 3rd January 2021. A link will be available on <a href="https://eternal-twin.net/">Eternal-Twin</a> website & a code will be provide the launching day (Only to the player who take part of the Alpha Test ship. In Private or on <a href="https://discord.gg/ERc3svy">discord</a>.) 
				  To take part of this Alpha test ship, you will need an account on <a href="https://eternal-twin.net/">Eternal-Twin</a> website. You will need to connect you from your <a href="https://twinoid.com/">Twinoid</a> account. Hammerfest or Dino-Parc account work also. 
				  <br/><br/>
                  With <a href="https://twinoid.com/">Twinoid</a>, to link your account to your <a href="https://eternal-twin.net/">Eternal-Twin</a> account, you will need to be friend with <a href="https://twinoid.com/user/38">Demurgos</a> on <a href="https://twinoid.com/">Twinoid</a>. 
				  You will need to accept his app who request access to all data coming from twinoid. It will allow to keep the progress of all your games.
				   <br/><br/>
				   <em>For thoses who would like to participate to the Alpha State of the game.</em> No worries ! There will be other test ship who will be launched later. 
				  <br/><br/>
               </p>
            </div>
         </div>
      </div>
      <div class="box3bottom"></div>
   </div>
</html>
</body>