<!DOCTYPE html>
<body>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<link type="text/css" rel="stylesheet" href="announce.css">
</head>
<div class="boxcenter">
			<div class="box3top"></div>
			<div class="box3bg">
				<div class="box3content">
					
						<div class="pdesc">
							<p>Vous allez vous réveiller avec 15 autres joueurs dans le Daedalus.
							Comme vous, ils fuient le <em>Mush</em>, un champignon qui ravage la planète Terre et menace l'Humanité.</p>
							
								
								
								
							
							</div>
						</div>
					
				</div>
							<div class="box3bottom"></div>
			</div>
</html>
</body>