<!DOCTYPE html>
<body>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <link type="text/css" rel="stylesheet" href="announce.css">
   </head>
   <div class="boxcenter">
      <div class="box3top"></div>
      <div class="box3bg">
         <div class="box3content">
            <div class="pdesc">
               <p>
                  Concerning the Alpha version, it will be launch the 3rd January 2021. The link will be provide the launching day (Only to the player who take part of the Alpha Test ship. In Private or below.) To take part of this Alpha test ship, you will need an account on <a href="https://eternal-twin.net/">Eternal-Twin</a> website. You will need to connect you from your twinoid account. Hammerfest or Dino-Parc account work also. <br/><br/>
                  With Twinoid, to link your account to your Eternal-twin account, you will need to be friend with <a href="https://twinoid.com/user/38">Demurgos</a> on Twinoid. You will need to accept his app who request access to all data coming from twinoid. It will allow to keep the progress of all your games.
               </p>
            </div>
         </div>
      </div>
      <div class="box3bottom"></div>
   </div>
</html>
</body>