<!DOCTYPE html>
<body>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
      <link type="text/css" rel="stylesheet" href="announce.css">
   </head>
   <div class="boxcenter">
      <div class="box3top"></div>
      <div class="box3bg">
         <div class="box3content">
            <div class="pdesc">
               <p>
                  <em>eMush</em> n'est actuellement pas ouvert au public car the jeu n'est pas terminé et est infesté de <em>Mush !!!</em> 
				  <br/><br/>
				  Si vous êtes intéressés par le projet, n'hésitez pas à nous rejoindre sur les <a href="https://discord.gg/ERc3svy">discord</a> & <a href="https://eternal-twin.net/forum">Forum</a> d'Eternal-Twin. 
				  Toutes les informations sont disponibles sur <a href="https://eternal-twin.net">Eternal-Twin</a>.
				  <br/><br/>	
                  Concernant la version Alpha, elle sera lancée le 3 Janvier 2021. Le lien sera disponible sur <a href="https://eternal-twin.net">Eternal-Twin</a> & un code sera distribué le jour du lancement (Uniquement aux joueurs qui participent au vaisseau test de l'Alpha. En privé ou sur le <a href="https://discord.gg/ERc3svy">discord</a>.)				  
				  Pour faire partie du vaisseau test alpha, vous aurez besoin d'un compte sur le site <a href="https://eternal-twin.net/">Eternal-Twin</a>. Vous aurez besoin de vous connecter avec votre compte <a href="https://twinoid.com/">Twinoid</a>. Les comptes Hammerfest & Dino-Parc fonctionnent aussi.
				  <br/><br/>
				  Pour lier son compte Eternal-Twin à votre compte <a href="https://twinoid.com/">Twinoid</a>, vous aurez besoin d'être ami avec <a href="https://twinoid.com/user/38">Demurgos</a> sur <a href="https://twinoid.com/">Twinoid</a>. 
				  Vous devrez accepter son application qui demande l'accès à toutes les données venant du site Twinoid. Cela permettra de garder l'ancienne progression de tous vos jeux.
                  <br/><br/>
				  <em>Pour ceux qui voudrez participer à l'Alpha.</em> Pas d'inquiétude ! Il y aura d'autres vaisseaux tests qui seront lancés ultérieurement. 
				  <br/><br/>
               </p>
            </div>
         </div>
      </div>
      <div class="box3bottom"></div>
   </div>
</html>
</body>