
services:

  _defaults:
    autowire: true      # Automatically injects dependencies in your services.
    autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

  # makes classes in src/ available to be used as services
  # this creates a service per class whose id is the fully-qualified class name
  Mush\Game\:
    resource: '../'
    exclude:
      - '../DependencyInjection/'
      - '../Entity/'
      - '../Kernel.php'
      - '../Tests/'

  Mush\Game\Service\Random\GetRandomElementsFromArrayServiceInterface: '@Mush\Game\Service\Random\GetRandomElementsFromArrayService'
  Mush\Game\Service\Random\GetRandomIntegerServiceInterface: '@Mush\Game\Service\Random\GetRandomIntegerService'
  Mush\Game\Service\Random\GetRandomPoissonIntegerServiceInterface: '@Mush\Game\Service\Random\GetRandomPoissonIntegerService'
  Mush\Game\Service\Random\TranslationServiceInterface: '@Mush\Game\Service\Random\TranslationService'
