Mush\Equipment\Entity\Mechanics\Blueprint:
  shortName: 'Blueprint'
  description: 'eMush Blueprint'
  attributes:
    pagination_items_per_page: 25
    normalization_context:
      groups: [ 'blueprint_read' ]
    denormalization_context:
      groups: [ 'blueprint_write' ]
  collectionOperations:
    get:
      filters: [ 'default.search_filter', 'default.order_filter' ]
    post:
      security: 'is_granted("ROLE_ADMIN")'
  itemOperations:
    get:
      security: 'is_granted("ROLE_ADMIN")'
    put:
      security: 'is_granted("ROLE_ADMIN")'
  properties:
    equipment:
      subresource:
        resourceClass: 'Mush\Equipment\Entity\Config\EquipmentConfig'
        collection: true
