Mush\Communication\Entity\Channel:
  shortName: 'Channel'
  description: 'eMush Channels'
  attributes:
    pagination_items_per_page: 25
    normalization_context:
      groups: [ 'channel_read', 'moderation_read' ]
    denormalization_context:
      groups: [ 'channel_write' ]
  collectionOperations:
    get:
      security: 'is_granted("ROLE_MODERATOR")'
      filters: [ 'channel.search_filter', 'date.order_filter' ]
  itemOperations:
    get:
      security: 'is_granted("ROLE_MODERATOR")'
