Mush\Player\Entity\Config\CharacterConfig:
  shortName: 'CharacterConfig'
  description: 'eMush Characters Config'
  attributes:
    pagination_items_per_page: 25
    normalization_context:
      groups: [ 'character_config_read' ]
    denormalization_context:
      groups: [ 'character_config_write' ]
  collectionOperations:
    get:
      filters: [ 'default.search_filter', 'default.order_filter' ]
      security: 'is_granted("ROLE_ADMIN")'
    post:
      security: 'is_granted("ROLE_ADMIN")'
  itemOperations:
    get: 
      security: 'is_granted("ROLE_ADMIN")'
    put:
      security: 'is_granted("ROLE_ADMIN")'
  properties:
    initStatuses:
      subresource:
        resourceClass: 'Mush\Status\Entity\Config\StatusConfig'
        collection: true
    actionConfigs:
      subresource:
        resourceClass: 'Mush\Action\Entity\ActionConfig'
        collection: true
    startingItems:
      subresource:
        resourceClass: 'Mush\Equipment\Entity\Config\ItemConfig'
        collection: true
    initDiseases:
      subresource:
        resourceClass: 'Mush\Disease\Entity\Config\DiseaseConfig'
        collection: true
