Mush\Player\Entity\ClosedPlayer:
  shortName: 'ClosedPlayer'
  description: 'eMush Closed Player'
  attributes:
    pagination_items_per_page: 25
    normalization_context:
      groups: [ 'closed_player_read' ]
  collectionOperations:
    get:
      security: 'is_granted("ROLE_USER")'
      filters: [ 'default.search_filter', 'default.order_filter', 'closedPlayer.search_filter', 'closedPlayer.order_filter' ]
  itemOperations:
    get:
      security: 'is_granted("ROLE_USER") and is_granted("DAEDALUS_IS_FINISHED", object)'