Mush\Equipment\Entity\Mechanics\Document:
  shortName: 'Document'
  description: 'eMush Document'
  attributes:
    pagination_items_per_page: 25
    normalization_context:
      groups: [ 'document_read' ]
    denormalization_context:
      groups: [ 'document_write' ]
  collectionOperations:
    get:
      filters: [ 'default.search_filter', 'default.order_filter' ]
    post:
      security: 'is_granted("ROLE_ADMIN")'
  itemOperations:
    get:
      security: 'is_granted("ROLE_ADMIN")'
    put:
      security: 'is_granted("ROLE_ADMIN")'
