Mush\Equipment\Entity\Mechanics\Fruit:
  shortName: 'Fruit'
  description: 'eMush Fruit'
  attributes:
    pagination_items_per_page: 25
    normalization_context:
      groups: [ 'fruit_read' ]
    denormalization_context:
      groups: [ 'fruit_write' ]
  collectionOperations:
    get:
      filters: [ 'default.search_filter', 'default.order_filter' ]
    post:
      security: 'is_granted("ROLE_ADMIN")'
  itemOperations:
    get:
      security: 'is_granted("ROLE_ADMIN")'
    put:
      security: 'is_granted("ROLE_ADMIN")'
