Mush\Equipment\Entity\EquipmentMechanic:
  shortName: 'Mechanics'
  description: 'eMush Mechanics'
  attributes:
    pagination_items_per_page: 25
    normalization_context:
      groups: [ 'equipment_mechanic_read' ]
    denormalization_context:
      groups: [ 'equipment_mechanic_write' ]
  collectionOperations:
    get:
      filters: [ 'default.search_filter', 'default.order_filter' ]
      security: 'is_granted("ROLE_ADMIN")'
    post:
      security: 'is_granted("ROLE_ADMIN")'
  itemOperations:
    get:
      security: 'is_granted("ROLE_ADMIN")'
    put:
      security: 'is_granted("ROLE_ADMIN")'
  properties:
    actions:
      subresource:
        resourceClass: 'Mush\Action\Entity\Action'
        collection: true
