Mush\Communication\Entity\Message:
  shortName: 'Message'
  description: 'eMush Messages'
  attributes:
    paginationEnabled: false
    normalization_context:
      groups: [ 'message_read', 'moderation_read' ]
    denormalization_context:
      groups: [ 'message_write' ]
  collectionOperations:
    get:
      security: 'is_granted("ROLE_MODERATOR")'
      filters: [ 'message.search_filter', 'date.order_filter', 'default.date_filter' ]
  itemOperations:
    get:
      security: 'is_granted("ROLE_MODERATOR")'
