services:

  _defaults:
    autowire: true      # Automatically injects dependencies in your services.
    autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

  # makes classes in src/ available to be used as services
  # this creates a service per class whose id is the fully-qualified class name
  Mush\Modifier\:
    resource: '../'
    exclude:
      - '../DependencyInjection/'
      - '../Entity/'
      - '../Enum/'
      - '../Kernel.php'
      - '../Tests/'

  Mush\Modifier\ModifierHandler\:
    resource: '../ModifierHandler/'
    tags: ['mush.modifier.modifier_handler']

  Mush\Modifier\ConfigData\ModifierActivationRequirementDataLoader:
    public: true
  Mush\Modifier\ConfigData\TriggerVariableEventModifierConfigDataLoader:
    public: true
  Mush\Modifier\ConfigData\TriggerEventModifierConfigDataLoader:
    public: true
  Mush\Modifier\ConfigData\VariableEventModifierConfigDataLoader:
    public: true