:root {
    --main-hexa-size: 18.5px;
}

.main-container {
    z-index: -2;
    color : #fff;
    flex-grow: 1;
    background : #0f0f43 url("~@/assets/images/bg.jpg") no-repeat center 23px;
  }

.banner {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .mainmenu {
    display: flex;
    flex-direction: row;
  }
  
  .logo {
    height: 100%;
  }
  
  .mainmenu > a {
    font-weight: normal;
    text-transform: capitalize;
    font-size: 11pt;
    color: #dffaff;
    letter-spacing: 1px;
    text-decoration: none;
    margin: 0 30px;
  }
  
  .tid_shadow {
    top: 32px;
    width: 100%;
    height: 10px;
    background-image: url("~@/assets/images/shadow.png");
    background-position: left bottom;
  }
  
  a.logo {
    height: 121px;
    margin: auto;
  }



.main {
    position: relative;
    height: 424px;
    width: 1080px;
    margin: 36px auto;
    &::after {
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        clip-path: polygon(
            var(--main-hexa-size) 0,
            calc(100% - var(--main-hexa-size)) 0,
            100% var(--main-hexa-size),
            100% calc(100% - var(--main-hexa-size)),
            calc(100% - var(--main-hexa-size)) 100%,
            var(--main-hexa-size) 100%,
            0 calc(100% - var(--main-hexa-size)),
            0 var(--main-hexa-size)
        );
        box-shadow: inset 0 0 35px 25px rgb(15,89,171);
        background-color: rgb(34,38,102);
        opacity: 0.5;
    }
}