.titles, .title, .game-banner, .daedalus-banner, .character-banner, .daedalus-players, .cycle-time {
  flex-direction: row;
  font-size: .93em;
  letter-spacing: .03em;
  font-variant: small-caps;
}

.game-banner {
  margin-bottom: 8px;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}



.character-banner {
  display: flex;
  flex-direction: row;

  & .in-game-level {

    --main-hexa-size: 11.5px;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 52px;
    height: 35px;
    font-size: 17pt;
    border: 1px solid rgba(4,21,156,1);
    border-radius: 4px;
    background: rgb(0,60,195);
    background: linear-gradient(0deg, rgba(0,60,195,1) 2%, rgba(0,116,223,1) 6%, rgba(0,116,223,1) 46%, rgba(0,142,229,1) 54%, rgba(0,142,229,1) 94%, rgba(73,156,229,1) 96%);

    clip-path: polygon(
      var(--main-hexa-size) 0,
      100% 0,
      100% 100%,
      0 100%,
      0 var(--main-hexa-size)
    );

    margin: auto;
    padding-right: 4px;
    font-family: Days-One;
    color: white;
    text-decoration: none;
    text-shadow: 0 0 4px #15273C;
  }

  & .in-game-level-progress {
    position: relative;
    width: 11px;
    height: 33px;
    z-index: 2;
    margin: 1px;
    margin-left: -10px;
    border-radius: 4px;
    border: 1px solid #4077B5;
    background: #4077B5;
    box-shadow: 0 0 5px 1px #15273C inset, 0 0 0 1px #234164;

    & > div {
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: 3px;
      background: rgb(128,72,112);
      background: linear-gradient(90deg, rgba(255,137,204,1) 0%, rgba(255,137,204,1) 25%, rgba(213,38,89,1) 94%, rgba(128,18,47,1) 100%);
      box-shadow: 0 0 2px 1px rgba(71,10,26,.7) inset;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 2px;
      width: 9px;
      height: 11px;
      background : transparent url('~@/assets/images/levelup_arrow_ingame.png') no-repeat center; 
    }
  }

  & .character-info {
    display: flex;
    justify-content: center;
    margin-left: 6px;

    & .character-name {
      margin-bottom: 1px;
      text-transform: uppercase;
      font-weight: 700;
    }

    & .title {
      display: flex;
      flex-direction: row;
      align-items: center;

      & .title-name {
        margin-left: 4px;
        font-size: .88em;
        font-variant: small-caps;
        letter-spacing: .05em;
        font-weight: bold;
        white-space: nowrap;
        color: rgba(255,255,255,0.75);
      }
    }
  }
}



.daedalus-banner {
  align-items: center;

  & > div {
    margin: 0 .8em;
    display:flex;
    align-items: center;
  }

  & .daedalus-alarms {
    padding: 3px 6px 1px 6px;
    max-height: 25px;
    border: 1px solid red;
    border-radius: 3px;
    background: rgba(58,106,171,1);
    box-shadow: 0 0 5px 1px inset rgba(28,29,56,1);

    animation: alarms-border-color .85s ease-in-out infinite; /* keyframes at the end of the doc */

    color: #ff4e64;
    text-shadow: 0 0 2px rgba(0,0,0,1), 0 0 2px rgba(0,0,0,1); /* twice the same shadow */
    font-weight: bold;

    & li:not(:last-child) {
      margin-right: 10px;
    }
  }

  & .daedalus-info li {
    display: flex;
    align-items: center;
  
      &:not(:last-child) {
      padding-right: 1em;
    }

    & img {
      padding: 2px 0 0 4px;
    }
  }

  & .cycle-time img {
    margin-right: .4em;
  }
}

@keyframes alarms-border-color {
  0%   {border: 1px solid #ff4e64 ;}
  50%  {border: 1px solid rgba(58,106,171,1) ;}
  100% {border: 1px solid #ff4e64 ;}
}




.char-panel {

  & .char-sheet {
    width: 176px;
    height: 451px;
    padding: 5px;
    border-top-left-radius: 5px;
    background: rgba(54,76,148,.35);

    & .avatar {
      width: 166px;
      height: auto;
    }

    & .health-points {
      flex-direction: row;
      margin: 3px 0;

      & .life, & .morale {
        flex-direction: row;
        align-items: center;
        margin-right: 3px;

        & p, & ul {
          display: flex;
          flex-direction: row;
          align-items: center;
          border: 1px solid #4077b5;
          border-radius: 3px;
          background: rgba(58,106,171,1);
          box-shadow: 0 0 4px 1px inset rgba(28,29,56,1);
        }

        & p {

          min-width: 24px;
          height: 15px;
          margin: 1px;
          padding-right: 1px;
          font-size: .5em;
          letter-spacing: .03em;
          border-right-width: 0;

          
          & img {
            width: 11px;
            height: 13px;
            margin-right: 1px;
          }
        }

        & ul {
          /*min-width: 59px;*/
          height: 11px;
          border-radius: 2px;
          margin-left: -2px;
          border-left-width: 0;

          & li {
            width: 3px;
            height: 5px;
            margin-right: 1px;
            background: rgba(138,170,44,1);
            box-shadow: 1px 1px 0 0 inset rgba(255,255,255,.7);

            &.empty {
              background: rgba(37,72,137,1);
              box-shadow: 1px 1px 0 0 inset rgba(78,154,255,.7);
            }
          }
        }
      }
    }

    & .inventory {
      display: flex;
      flex-direction: row;

      & li {
        width: 54px;
        height: 54px;
        margin-right: 1px;
        border: 1px solid #4077b5;
        border-radius: 3px;
        background: rgba(58,106,171,1);
        box-shadow: 0 0 8px 2px inset rgba(17,56,128,1);
      }
    }

    & .interactions {
      margin-top: 12px;

      & > p {
        margin: 0 0 4px 0;
        font-size: .83em;
        letter-spacing: .03em;
        font-variant: small-caps;
      }

      & ul {
        display: flex;
        flex-direction: column;

        & li a {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          min-height: 19px;
          width: auto;
          margin: 1px;
          padding-bottom: 2px;
          border-radius: 1px;
          color: white ;
          font-size: .83em;
          font-weight: 700;
          letter-spacing: .03em;
          text-decoration: none;
          font-variant: small-caps;
          text-align: center;
          text-shadow: 0 0 4px #15273C, 0 0 4px #15273C;
          box-shadow: 0 0 0 1px rgba(12,18,137,1);
          background: #003cc3;
          background: linear-gradient(0deg, #003cc3 2%, #0074df 6%, #0074df 46%, #008ee5 54%, #008ee5 94%, #499ce5 96%);

          & img {
            padding: 0 .3em;
          }

          &:hover{
            background: #003cc3;
            background: linear-gradient(0deg, #0061D5 2%, #00A0E9 6%, #00A0E9 46%, #00B3ED 54%, #00B3ED 94%, #40B5EC 96%);
          }
        }
        & li.crossed a {
          opacity: .5;
          text-decoration: line-through;
        }
      }
    }
  }
}