.titles, .title, .game-banner, .daedalus-banner, .character-banner, .daedalus-players, .cycle-time {
  flex-direction: row;
  font-size: .93em;
  letter-spacing: .03em;
  font-variant: small-caps;
}

.game-banner {
  margin: 12px;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}

.daedalus-banner {
  align-items: center;
}

.daedalus-banner > div {
  margin: 0 .8em;
  display:flex;
  align-items: center;
}

.daedalus-alarms-new {
  padding: 3px 6px 1px 6px;
  max-height: 25px;
  border: 1px solid red;
  border-radius: 3px;
  background: rgba(58,106,171,1);
  box-shadow: 0 0 5px 1px inset rgba(28,29,56,1);

  animation: alarms-border .85s ease-in-out infinite;

  color: #ff4e64;
  text-shadow: 0 0 2px rgba(0,0,0,1), 0 0 2px rgba(0,0,0,1); /* twice the same shadow */
  font-weight: bold;
}

.daedalus-alarms-new li:not(:last-child) {
  margin-right: 10px;
}

@keyframes alarms-border {
  0%   {border: 1px solid #ff4e64 ;}
  50%  {border: 1px solid rgba(58,106,171,1) ;}
  100% {border: 1px solid #ff4e64 ;}
}

.daedalus-info li {
  display: flex;
  align-items: center;
}
.daedalus-info li:not(:last-child) {
  padding-right: 1em;
}

.daedalus-info li img {
  padding: 2px 0 0 4px;
}

.cycle-time img {
  margin-right: .4em;
}


.character-banner {
  display: flex;
  flex-direction: row;
  & .in-game-level {

    --main-hexa-size: 11.5px;

    width: 52px;
    height: 35px;
    font-size: 17pt;
    border: 1px solid rgba(4,21,156,1);
    border-radius: 4px;
    background: rgb(0,60,195);
    background: linear-gradient(0deg, rgba(0,60,195,1) 2%, rgba(0,116,223,1) 6%, rgba(0,116,223,1) 46%, rgba(0,142,229,1) 54%, rgba(0,142,229,1) 94%, rgba(73,156,229,1) 96%);

    clip-path: polygon(
      var(--main-hexa-size) 0,
      100% 0,
      100% 100%,
      0 100%,
      0 var(--main-hexa-size)
    );

    & .text-level {
      margin: auto;
      padding-right: 4px;
      font-family: Days-One;
      text-shadow: 0 0 4px #15273C;
    }
  }

  & .in-game-level-progress {
    width: 10px;
    height: 33px;
    z-index: 2;
    margin: 1px;
    margin-left: -10px;
    border-radius: 4px;
    border: 1px solid #4077B5;
    background: #4077B5;
    box-shadow: 0 0 5px 1px #15273C inset, 0 0 0 1px #234164;

    & > div {
      position: relative;
      width: 100%;
      height: 100%;
      border-radius: 3px;
      background: rgb(128,72,112);
      background: linear-gradient(90deg, rgba(255,137,204,1) 0%, rgba(255,137,204,1) 25%, rgba(213,38,89,1) 94%, rgba(128,18,47,1) 100%);
      box-shadow: 0 0 2px 1px rgba(71,10,26,.7) inset;
    }
  }

  & .character-info {
    display: flex;
    justify-content: center;
    margin-left: 6px;

    & .character-name {
      margin-bottom: 1px;
      text-transform: uppercase;
      font-weight: 700;
    }

    & .title {
      display: flex;
      flex-direction: row;
      align-items: center;

      & .title-name {
        margin-left: 4px;
        font-size: .85em;
        font-variant: small-caps;
        letter-spacing: .05em;
        font-weight: bold;
        white-space: nowrap;
        color: rgba(255,255,255,0.75);
      }
    }
  }
}