/* PLACEHOLDERS */

%retracted-tips {
    position: relative;
    margin: .35em 0;
    padding: .25em;
    cursor: pointer;
    background: $lightCyan;
    border: 1px solid $green;
    border-radius: 3px;

    & * { cursor: pointer; }

    input {
        position: absolute;
        opacity: 0;
    }

    & > label {
        display: block;
        overflow: hidden;
        opacity: .5;
        height: 1.55em;
        padding-bottom: .5em;
        line-height: 1.35em;
        font-style: italic;

        em.red {
            font-style: normal;
            color: $red;
        }
    }

    input:checked ~ label {
        opacity: 1;
        height: auto;
    }

    .expand {
        position: absolute;
        top: -1.5em;
        right: .8em;
        padding: .2em .5em;
        border-radius: 5px 5px 0 0;
        background: $green;
        font-size: .75em;
        text-transform: uppercase;
        letter-spacing: .05em;
    }
}