/* VARIABLES */

$brightCyan: #c2f3fc;
$lightCyan: #a6eefb;
$blue: #2081e2;
$deepBlue: #090a61;
$greyBlue: #3a6aab;

$red: #cf1830;
$green: #84e100;

$font-default: "eKanit", "Segoe UI", "Lucida Grande", "Trebuchet MS", Arial, "lucida sans unicode", sans-serif;
$font-days-one: "Days-One", $font-default;
$font-pixel-square: "Pixel-Square", $font-default;