/* VARIABLES */

$brightCyan: #c2f3fc;
$lightCyan: #a6eefb;
$cyan: #01C3DF;
$blue: #2081e2;
$slightlyDeepBlue: #122270;
$deepBlue: #090a61;
$greyBlue: #3a6aab;

$red: #cf1830;
$pink: #d24781;
$deepGreen: #48A209;
$green: #84e100;

$font-default: "eKanit", "Segoe UI", "Lucida Grande", "Trebuchet MS", Arial, "lucida sans unicode", sans-serif;
$font-days-one: "Days-One", $font-default;
$font-pixel-square: "Pixel-Square", $font-default;

$breakpoint-mobile-l: 425px;
$breakpoint-desktop-m: 768px;
$breakpoint-desktop-l: 1080px;


$face-position: //for the chars portraits, defines the position of the face in reference to the top left corner
    "andie"    56% 37%,
    "chao"     63% 28%,
    "chun"     52% 24%,
    "derek"    39% 24%,
    "eleesha"  47% 32%,
    "finola"   50% 30%,
    "frieda"   46% 35%,
    "gioele"   47% 26%,
    "hua"      50% 28%,
    "ian"      49% 26%,
    "janice"   55% 35%,
    "jin_su"      50% 25%,
    "kuan_ti"     52% 20%,
    "paola"    70% 37%,
    "raluca"   40% 22%,
    "roland"   43% 28%,
    "stephen"  51% 29%,
    "terrence" 67% 30%,
;