@import "~@/assets/css/normalize.css";
@import "background.scss";
@import "gamevue.scss";

@font-face {
  font-family: 'Days-One';
  font-style: normal;
  font-weight: 500;
  src: url('~@/assets/fonts/DaysOne-Regular.ttf') format('truetype');
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}


div {
  display: flex;
  flex-direction: column;
}

body, html, #app {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Segoe UI", "Lucida Grande", "Trebuchet MS", Arial, "lucida sans unicode", sans-serif;
}

#app {
  display:block;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}