@import "_normalize.css";
@import "background.scss";
@import "gamevue.scss";

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}



div {
  display: flex;
  flex-direction: column;
}

body, html, #app {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Segoe UI", "Lucida Grande", "Trebuchet MS", Arial, "lucida sans unicode", sans-serif;
}

ul, ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
}